<footer class="site-footer">

  <div class="wrapper">

    <center>
        

		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

		<style type="text/css">
			.signature {
				font-family: "Pacifico";
				font-size: 35px;
				color: purple;
				text-shadow: 3px 3px gold;
			}
		</style>

		<div align="center" >
		<p class='signature'>Bo Wang (Brandon)</p>
		<div>


        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
		<span>Theme &copy; itisbenjamin1  </span>
				<!-- <iframe
			style="margin-left: 2px; margin-bottom:-5px;"
			frameborder="0" scrolling="0" width="91px" height="20px"
			src="https://ghbtns.com/github-btn.html?user=itisbenjamin&repo=Nice_Blog&type=star&count=true" >
		</iframe> -->

    </center>
    
  </div>

  

</footer>
