<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <div class="wrapper">
    <center>

    <div align="center" >
      <a href="{{ site.baseurl }}">
        <img src="stormlessharbour.png"  alt="Stromless Harbour" width="300px"/>
      </a>
    </div>
    <div>
      <img src="birdline.png"  alt="birdline" />
    </div>

    <style type="text/css">
      .headlink {
        font-size: 20px;
        border: bold;
        color: teal;
        text-decoration: none;
      }
      a.headlink:hover {
        /*text-decoration: underline;*/
          display: inline-block;
          text-decoration: none;
          border-bottom: 2px solid red;
        margin-bottom: -1px;
        padding-bottom: 7px;
      }
    </style>

    <p><a class="headlink" href="{{ site.baseurl }}">HOME</a> /
    <a class="headlink" href="{{ site.baseurl }}/archive/">Archive</a> /
    <a class="headlink" href="{{ site.baseurl }}/category/">Category</a> / 
    <a class="headlink" href="{{ site.baseurl }}/tags/">Tags</a> / 
    <a class="headlink" href="{{ site.baseurl }}/about/">About</a> /
    <a class="headlink" href="{{ site.baseurl }}/contact/">Contact</a>
    </p>

    </center>
  </div>

</head>
